@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '../node_modules/foundation-sites/assets/foundation';

$box-shadow-color: $medium-gray;
$hover-color: dodgerblue;
$duration-short:  0.35s;
$duration-mid: 0.7s;

@mixin hover-transition-color($duration) {
  color: $hover-color;
  transition: color $duration;
}
@mixin box-shadow($color) {
  // border: solid 1px lighten($color, 15%);
  box-shadow: 0 0 1px $color;
}

header {
  background: $white;
  @include box-shadow($box-shadow-color);
  margin-bottom: 15px;

  // Artūrs Jenots Banner
  h1 {
    text-align: center;
    font-size: 4rem;
    &:hover {
      cursor: default;
      @include hover-transition-color($duration-short);
    }
  }

  // Navbar
  nav {
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      a, a:visited {
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        &:hover, &:focus, &:active {
          @include hover-transition-color($duration-short);
          text-decoration: none;
        }
      }
    }
  }
}

// Blog Post Thumbnails
.post-thumbnail {
  @extend .callout;
  text-align: center;
  border: none;
  @include box-shadow($box-shadow-color);
  &:hover {
    transition: box-shadow $duration-mid;
    box-shadow: 0 0 4px $box-shadow-color;
  }
  a:hover {
    h5 {
      @include hover-transition-color($duration-mid);
    }
  }
  p {
    text-align: justify;
  }
}